body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #4CAF50;
    text-align: center;
    color: #F7F7F7;
    
}

.titulo {
    margin-top: 30px;
    font-size: 28px;
}

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

.nome-usuario {
    font-size: 24px;
    margin-bottom: 5px;
}

.time-usuario {
    font-size: 20px;
    margin-bottom: 25px;
}

.input {
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #000000c5;
    background: #F7F7F7;
    font-size: 16px;
    border-radius: 20px;
    color: #1A237E;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.btn {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000c5;
    background: #F7F7F7;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    
}

.btn:hover {
    transition: 0.5s;
    padding: 15px;

}